.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url('../public/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: black;
	background-color: white;
	opacity: 0.925;
	font-weight: bold;
	height: 95%;
	width: 50vw;
}

.dropDownContainer {
	display: inline-flex;
	background-color: #04729e;
	height: 5%;
	width: 100%;
}

.searchContainer {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 33.33%;
}

.searchBar {
	height: 50%;
	font-size: clamp(0.45rem, 1.15vw, 0.9rem);
	width: 80%;
}

.headerContainer {
	display: flex;
	align-items: center;
	height: 5%;
	justify-content: center;
	text-align: center;
}

.header1 {
	font-size: clamp(0.8rem, 2.25vw, 1.8rem);
}

.header2 {
	font-size: clamp(0.6rem, 2vw, 1.6rem);
}

.loadingContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	animation: fadeInOut 4s linear 1 forwards;
	animation-iteration-count: infinite;
	font-size: clamp(0.6rem, 2vw, 1.6rem);
}

@keyframes fadeInOut {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.auctionsContainer {
	height: 72.895%;
	width: 100%;
	overflow-y: auto;
	background-color: whitesmoke;
	color: black;
}

.navbar {
	height: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	width: 100%;
}

@media only screen and (max-width: 1000px) {
	.main {
		width: 80%;
	}
}
