.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../public/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5%;
  align-items: center;
  background-color: white;
  opacity: .9;
  font-weight: bold;
  height: 100vh;
  width: 50vw;
  overflow-y: scroll;
  font-size: clamp(.2rem, 1vw, 2rem);
  color: white;
}

.card {
  width: 20.5%;
  height: 25%;
  position: relative;
}

.auctionHousesContainer {
  top:35%;
  position: relative;
  height: 58%;
}

.auctionHouseContainer {
  position: relative;
  height: 31.5%;
  opacity: .8;
}

.cardTitle {
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: black;
  height: 10%;
  overflow: hidden;
  font-size: clamp(.4rem, .9vw, 2rem);
}

.auctionHouseBody {
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  font-size: clamp(.6rem, 1vw, 2rem);
}

.footer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5%;
  width: 100%;
  bottom: 0;
  background-color: black;
  color: white;
}

.card:hover {
  box-shadow: rgba(6, 173, 25, 0.56) 4px 22px 70px 4px;
}

.auctionHouseContainer:hover {
  transform: scale(1.2);
  opacity: 1;
}

.footer a {
  color: white;
}



@media only screen and (max-width: 1000px) {
  .main {
    width: 80%;
  }
}